<!DOCTYPE html>
<html>
  <head>
    <title>SMileS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to 'View list', texts_path %></li>
      <li><%= link_to 'New text', new_text_path %></li>
    </ul>
    <h1>SMileS</h1>
    <%= yield %>
  </body>
</html>
